Source: salt-formula-dnsmasq
Maintainer: devops <devops@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-dnsmasq
Vcs-Git: https://github.com/tcpcloud/salt-formula-dnsmasq.git

Package: salt-formula-dnsmasq
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: dnsmasq salt formula
 Install and configure dnsmasq system.
